.navigation {
    border-bottom: 1px solid #e5eaef;
    justify-content: center;
}

.navigation button {
    margin: 0 12px;
}

@media (max-width: 578px) {
    .navigation {
        overflow-x: scroll;
        overflow-y: hidden;
        scroll-snap-type: x mandatory;
        justify-content: space-between;
    }
    .navigation button {
        margin: 0 24px;
    }
    .navigation::-webkit-scrollbar {
        display: none;
    }
}


/*
this is a bottom bar
*/


/* @media (max-width: 768px) {
    
    .navigation {
        width: 100vw;
        border-top: 1px solid #e5eaef;
        position: fixed;
        left: 0;
        bottom: 0;
        z-index: 2000;
    }
} */