.cardGrid {
    grid-template-columns: repeat(5, minmax(0, 1fr));
    padding: "32px 24px"
}

@media (max-width: 1024px) {
    .cardGrid {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

@media (max-width: 768px) {
    .cardGrid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (max-width: 641px) {
    .cardGrid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (max-width: 428px) {
    .cardGrid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        padding: 0;
    }
}